@import 'nib'
@import 'responsive.css'

body
  background #fff linear-gradient(top, #ccc, #fff) no-repeat

.container
  padding-top 20px
  header
    h1
      margin-bottom 18px
      font-size 50px
      letter-spacing -1px
      line-height 1
  #app
    padding-top 20px
  ul
    margin-top 30px
    padding-top 29px
    border-top 1px solid #dedede
    li
      margin-bottom 7px
      font-size 18px
      list-style none
      span.label
        margin 0 8px 0 4px
        cursor pointer
